<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ilmoitus"
    android:versionCode="1"
    android:versionName="1.0"
    tools:ignore="all" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sns_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false">
        
        <activity
            android:name="com.ilmoitus.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ilmoitus.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.ilmoitus.activity.LoginActivity" >
        </activity>
        <activity
            android:name="com.ilmoitus.activity.DeclareActivity"
            android:label="title_activity_declare"
            android:screenOrientation="portrait" >
        </activity>
      <activity
            android:name="com.ilmoitus.activity.DeclarationDetailsActivity"
            android:label="title_activity_declare_item"
            android:screenOrientation="portrait" >
        </activity>
       <activity
            android:name="com.ilmoitus.activity.DeclarationLineDetailsActivity"
            android:label="title_activity_declare_item"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ilmoitus.activity.ChangeDeclareActivity"
            android:label="title_activity_declare_item"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ilmoitus.activity.ImageFullScreen"
            android:label="title_activity_declare_item"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ilmoitus.activity.DeclareItemActivity"
            android:label="title_activity_declare_item"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ilmoitus.activity.DeclareLineActivity"
            android:label="@string/title_activity_declare_line"
            android:screenOrientation="portrait" >
        </activity>
                <activity
            android:name="com.ilmoitus.activity.ImageView"
            android:label="@string/title_activity_declare_line"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>